<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Archetype Created Web Application</display-name>

    <session-config>
        <!--1分钟之后session失效-->
        <session-timeout>1</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>cn.isdev.xiaohua.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CycleLifeServlet</servlet-name>
        <servlet-class>cn.isdev.xiaohua.servlet.CycleLifeServlet</servlet-class>
        <!--<load-on-startup>1</load-on-startup>-->
        <init-param>
            <param-name>path</param-name>
            <param-value>D:\workspace\WebTest\web\file\b.txt</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CycleLifeServlet</servlet-name>
        <url-pattern>/cycleLifeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>cn.isdev.xiaohua.servlet.CookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>cn.isdev.xiaohua.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DBCPServlet</servlet-name>
        <servlet-class>cn.isdev.xiaohua.servlet.DBCPServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBCPServlet</servlet-name>
        <url-pattern>/dbcpServlet</url-pattern>
    </servlet-mapping>

   <!-- <filter>
        <filter-name>HelloFilter</filter-name>
        <filter-class>cn.isdev.xiaohua.filter.HelloFilter</filter-class>
        <init-param>
            <param-name>excludePages</param-name>
            <param-value>/index.jsp, /register.html</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>HelloFilter</filter-name>
        <url-pattern>/*</url-pattern>
        &lt;!&ndash;<dispatcher>FORWARD</dispatcher>&ndash;&gt;
    </filter-mapping>-->

    <!--<filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>cn.isdev.xiaohua.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->

    <listener>
        <listener-class></listener-class>
        <
    </listener>

    <context-param>
        <param-name>contextParam</param-name>
        <param-value>刘先森</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>